* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    cursor: cell;
}

body {
    background-image: url(images/background-wall5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

button {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    padding: 15px 45px;
    font-size: 1.1rem;
    margin-top: 3em;
    outline: none;
    cursor: none;
}

.bloodSpot {
    position: absolute;
    height: 50px;
    transform: translate(-74%, -70%);
    z-index: 2;
}


img::selection {
    background: transparent;
}
